<section id="introduction" class="card__container">
  <div class="card__section">
    <h3 class="card__title">¿Te cuento un poco de mí?</h3>
    <header class="ml-1 flex flex-col gap-2">
      <h4 class="card__subtitle">Me presento</h4>
      <div
        class="flex flex-col md:flex-row gap-4 px-3 mx-3 md:px-4 md:mx-4 border-l-4 border-l-violet basis-1/2"
      >
        <article
          class="flex flex-col grow md:order-[2] items-center justify-center"
        >
          <span class="w-[200px] h-[200px]">
            <img
              class="drop-shadow-violet"
              alt="Jairo Rojas"
              src="favicon.ico"
            />
          </span>
        </article>
        <article class="flex flex-col gap-4 basis-1/2">
          <p>
            Soy Jairo Rojas, mis amigos me dicen Jayo, graduado de
            <strong>bachillerato técnico en informática</strong>. Actualmente
            autodidacta.
          </p>
          <p>
            No cuento con experiencia laboral, pero si con proyectos donde uso
            <strong>tecnologías muy demandas e importantes</strong> en el mundo de
            la web y dónde demuestro mi conocimiento técnico en el area, como puedes
            ver en <a href="#projects"
              ><strong class="text-turquoise">Proyectos.</strong></a
            >
          </p>
          <p>
            Poniendo siempre mi mayor esfuerzo en cada proyecto por que quede
            los más <strong>escalable, atractivo y optimizado</strong> posible.
          </p>
        </article>
      </div>
    </header>
    <a
      class="cursor-pointer bg-turquoise self-center py-2 px-6 rounded-md text-dark"
      href="CV.pdf"
      download=""
    >
      Descargar CV
    </a>
  </div>
</section>
