<section id="about" class="card__container">
  <div class="card__section">
    <h3 class="card__title">¿Te cuento un poco de mi?</h3>
    <article class="ml-4">
      <h4 class="card__subtitle mb-4">Datos personales</h4>
      <div
        class="flex flex-col md:flex-row gap-6 list-none px-4 mx-4 border-l-4 border-l-violet"
      >
        <span
          class="flex flex-col grow md:order-[2] items-center justify-center"
        >
          <div class="w-[100px] h-[100px]">
            <img
              class="drop-shadow-violet"
              alt="Jairo Rojas"
              src="favicon.ico"
            />
          </div>
        </span>
        <ul>
          <li><b>Nombre:</b> Jairo Rojas</li>
          <li>
            <b>Edad:</b> 21 años
          </li>
          <li>
            <b>Estudios:</b> Bachillerato técnico en informática
          </li>
          <li>
            <b>Celular/Movil:</b> +593 98 268 88 24
          </li>
          <li>
            <b>Nacionalidad:</b> Ecuatoriana/Española
          </li>
          <li>
            <b>Residencia:</b> Ecuador, El Oro, Machala
          </li>
        </ul>
      </div>
    </article>
    <article class="ml-4">
      <h4 class="card__subtitle mb-4">Descripción</h4>
      <div
        class="flex flex-col gap-6 list-none px-4 mx-4 border-l-4 border-l-violet"
      >
        <p class="max-w-[80char]">
          Joven autodidacta graduado de bachillerato técnico en informática, sin
          experiencia en el mundo laboral, pero con cierta experienca con las
          tecnologías más demandas e importantes en el mundo de la web.
        </p>
        <span>
          Puedes juzgarlo tú mismo:
          <a href="#proyects">
            (ver: <strong>Proyectos</strong>)
          </a>
        </span>
      </div>
    </article>
  </div>
</section>
