---
import type { SVGProps } from "../types";

interface Props {
  Icon: (props: SVGProps) => any;
  link: string;
}

const { Icon, link } = Astro.props;
---

<span>
  <a href={link} rel="noreferrer" target="_BLANK">
    <Icon font-size="2.5em" />
  </a>
</span>
