---
import Javascript from "../icons/Javascript.astro";
import Typescript from "../icons/Typescript.astro";
import Mysql from "../icons/Mysql.astro";
import Mongodb from "../icons/Mongodb.astro";
import Nodejs from "../icons/Nodejs.astro";
import Php from "../icons/Php.astro";
import React from "../icons/React.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import Whatsapp from "../icons/Whatsapp.astro";
import ContactLink from "./Contact-link.astro";

const date = new Date();
const currentYear = date.getFullYear();
const currentMonth = date.getMonth();
const currentDay = date.getDate();

const yearOfBirth = 2001;
const monthOfBirth = 10;

const monthHasNotPassed = currentMonth < monthOfBirth;
const dayHasNotPassed = currentMonth === monthOfBirth && currentDay < 17;

let age = currentYear - yearOfBirth;
if (monthHasNotPassed || dayHasNotPassed) age--;
---

<section class="h-dvh p-4 md:p-6">
  <div
    class="card h-full flex flex-col justify-evenly lg:grid lg:grid-cols-[40%,1fr] lg:grid-rows-[90%,1fr] relative"
  >
    <span
      class="absolute top-0 left-0 w-full h-full overflow-hidden opacity-15"
    >
      <img class="object-cover w-full h-full" src="/cover.webp" />
    </span>
    <article class="flex flex-col items-center justify-center relative z-10">
      <div class="flex items-end justify-center relative">
        <div>
          <div class="heptagon h-[175px] w-[175px] lg:h-[250px] lg:w-[250px]">
            <img class="object-cover" alt="Jairo Rojas" src="/my_self.webp" />
          </div>
          <Javascript class="icon hep-p1" />
          <Typescript class="icon hep-p2" />
          <Mysql class="icon hep-p3" />
          <Mongodb class="icon hep-p4" />
          <Php class="icon hep-p5" />
          <Nodejs class="icon hep-p6" />
          <React class="icon hep-p7" />
        </div>
      </div>
    </article>
    <article class="flex items-center justify-center relative z-10">
      <span
        class="flex items-center text-[150px] md:text-[200px] lg:text-[250px] text-turquoise drop-shadow-violet leading-none"
      >
        &#123;
      </span>
      <div class="gap-6 lg:gap-10 flex flex-col items-center justify-center">
        <h2
          class="md:text-xl lg:text-2xl text-center font-semibold text-xl text-turquoise"
        >
          Jairo Rojas
        </h2>
        <h1
          class="md:text-xl lg:text-2xl text-center font-semibold text-xl text-[#fcea93]"
        >
          Desarrollador web full stack
        </h1>
      </div>
      <span
        class="flex items-center text-[150px] md:text-[200px] lg:text-[250px] text-turquoise drop-shadow-violet leading-none"
        >&#125;</span
      >
    </article>
    <article
      class="flex gap-5 items-center justify-center md:flex-row relative z-10"
    >
      <ContactLink
        Icon={Linkedin}
        link="https://www.linkedin.com/in/jairo-rojas/"
      />
      <ContactLink Icon={Github} link="https://github.com/JairoRojasJR" />
      <ContactLink
        Icon={Whatsapp}
        link="https://api.whatsapp.com/send?phone=593982688824&text=Hola%20Jairo%2C%20he%20visto%20tu%20portafolio%20web%20y%20quer%C3%ADa%20contactarte."
      />
    </article>
    <article
      class="flex flex-col gap-1 md:gap-4 items-center justify-center md:flex-row relative z-10"
    >
      <span>{age} años</span>
      <span>De Machala, Ecuador</span>
      <span>Ciudadano Español</span>
    </article>
  </div>
</section>

<style>
  section {
    transition: height 0.1s;
  }
  img {
    @apply bg-superdark;
  }
  :root {
    --size-icon: 36px;
    --half-size-icon: calc(var(--size-icon) / 2);
    --half-size-icon-negative: calc((var(--size-icon) / 2) * -1);
  }
  .card {
    background: #12121c;
    padding: 2rem;
  }
  .heptagon {
    background: #fff;
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  .icon {
    @apply absolute;
    @apply bg-superdark;
    @apply rounded-md;
    @apply p-[0.1rem];
    @apply shadow-violet;
    font-size: var(--size-icon);
  }
  .hep-p1 {
    top: var(--half-size-icon-negative);
    left: calc(50% - var(--half-size-icon));
  }
  .hep-p2 {
    right: calc(10% - var(--half-size-icon));
  }
  .hep-p3 {
    right: var(--half-size-icon-negative);
  }
  .hep-p4 {
    right: calc(25% - var(--half-size-icon));
  }
  .hep-p5 {
    right: calc(75% - var(--half-size-icon));
  }
  .hep-p6 {
    right: calc(100% - var(--half-size-icon));
  }
  .hep-p7 {
    right: calc(90% - var(--half-size-icon));
  }
  .hep-p2,
  .hep-p7 {
    top: calc(20% - var(--half-size-icon));
  }
  .hep-p3,
  .hep-p6 {
    top: calc(60% - var(--half-size-icon));
  }
  .hep-p4,
  .hep-p5 {
    top: calc(100% - var(--half-size-icon));
  }
</style>
