<footer class="page__section">
  <article>
    <h5 class="title">Happy hacking!!</h5>
    <span>
      Gracias por visitar este portafolio, espero que te haya gustado.
    </span>
  </article>
  <article>
    <h5 class="title">Etiquetas</h5>
    <div>
      <span><strong>Jairo Rojas</strong></span>
      <span><strong>Desarrollador Web</strong></span>
      <span><strong>Programador Web</strong></span>
      <span><strong>Machala</strong></span>
    </div>
  </article>
</footer>
<style>
  footer {
    padding: 1.5em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .title {
    font-size: 1.25em;
  }

  div {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }
</style>
