<nav class="flex justify-center sticky top-4 z-20 m-auto w-full max-w-[750px]">
  <ul
    class="rounded-sm flex w-full justify-evenly list-none gap-2 md:gap-4 py-4 px-2 md:px-4 shadow-violet max-w-[800px] backdrop-blur-2xl"
  >
    <li>
      <a class="px-2 py-2 md:px-8 rounded-sm bg-dark" href="#introduction"
        >Sobre mí</a
      >
    </li>
    <li>
      <a class="px-2 py-2 md:px-8 rounded-sm bg-dark" href="#proyects"
        >Proyectos</a
      >
    </li>
    <li>
      <a class="px-2 py-2 md:px-8 rounded-sm bg-dark" href="#contact"
        >Contacto</a
      >
    </li>
  </ul>
</nav>
