<nav class="nav">
  <ul class="nav__ul">
    <li class="nav__li">
      <a class="nav__link" href="#projects">Proyectos</a>
    </li>
    <li class="nav__li">
      <a class="nav__link" href="#about">Sobre mí</a>
    </li>
    <li class="nav__li">
      <a class="nav__link" href="#contact">Contacto</a>
    </li>
  </ul>
</nav>
<style>
  .nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 20;
    margin: auto;
    width: 100%;
    max-width: 750px;
  }

  .nav__ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 0.5em;
    padding: 1em;
    backdrop-filter: blur(10px);
    background-color: var(--primary-blur);
    width: 100%;
    border-radius: 0.75em;
  }

  .nav__li:hover {
    scale: 1.1;
    transition: scale 0.3s;
  }

  .nav__link {
    padding: 0.5em;
    border-radius: 0.75em;
    background-color: var(--primary);
    box-shadow: 0 0 5px 1px #000;
    transition: box-shadow 0.3s;
  }

  .nav__link:hover {
    box-shadow: 0 0 5px 1px var(--play-b);
  }

  @media screen and (min-width: 450px) {
    .nav__link {
      padding-inline: 1.5em;
    }
  }
</style>
