---
import Proyect from "./Proyect.astro";
---

<section id="proyects" class="card__container">
  <div class="card__section">
    <h3 class="card__title">He desarrollado...</h3>
    <div class="flex flex-col gap-8">
      <Proyect
        name="Menú de resturante online Restaurante-sf"
        image="/proyect-restaurante-sf.png"
        href="https://restaurante-sf.jayoweb.dev"
      >
        <p>
          Aplicación web que permite a un restaurante administrar y mostrar su
          menú.
        </p>
      </Proyect>
      <Proyect
        name="Tienda online JayoShop"
        image="/proyect-jayoshop.png"
        href="https://shop.jayoweb.dev"
      >
        <p>
          Tienda online pensada para permiter la muestra y venta de productos.
          Permite adminstrar de manera sencilla el inventario a los
          administradores. Los clientes pueden ver desde la comodidad de su
          hogar el inventario.
        </p>
      </Proyect>
      <Proyect
        name="JayoCrud"
        image="/proyect-jayocrud.png"
        href="https://portfoliojayo.x10.mx"
      >
        <>
          <p>
            Proyecto de php como ejercicio de práctica, dónde implementé las
            funcionalidades básicas de un CRUD (crear, leer, actualizar y
            eliminar). Incluye un sistema de registro y autenticación de
            usuario, entre otras funcionalidades interesantes.
          </p>
        </>
      </Proyect>
    </div>
  </div>
</section>
