---
import type { SVGProps } from "../types";

interface Props {
  Icon: (props: SVGProps) => any;
  name: string;
}

const { Icon, name } = Astro.props;
---

<article
  class="flex items-center gap-2 bg-superdark py-2 px-4 rounded-full cursor-pointer"
>
  <Icon font-size="30px" />
  <span>{name}</span>
</article>
