---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Portafolio de Jairo Rojas desarrollador web full stack de Machala, El Oro, Ecuador"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="fixed top-0 left-0 h-lvh inset-0 z-[-1]">
			<img
				class="object-cover h-full w-full"
				alt="fondo estrellado"
				src="./background.webp"
			/>
		</div>
		<main class="relative z-10 flex flex-col gap-2"><slot /></main>
		<footer class="p-6 relative z-10">
			<div class="card__section">
				<article>
					<h5 class="text-turquoise text-lg">Happy hacking!!</h5>
					<span>
						Gracias por visitar este portafolio, espero que te haya gustado.
					</span>
				</article>
				<article>
					<h5 class="text-turquoise text-lg">Etiquetas</h5>
					<div class="flex gap-4 flex-wrap">
						<span><strong>Jairo Rojas</strong></span>
						<span><strong>Desarrollador Web</strong></span>
						<span><strong>Programador Web</strong></span>
						<span><strong>Machala</strong></span>
					</div>
				</article>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	@font-face {
		font-family: "Baskerville Normal";
		font-style: normal;
		font-weight: normal;
		src:
			local("Baskerville Normal"),
			url("/baskvl.woff") format("woff");
	}
	html {
		font-family: "Baskerville Normal", system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: #dfdfdf;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		min-width: 350px;
	}
	p {
		max-width: 80ch;
		text-wrap: pretty;
	}
	.card__container {
		@apply pt-24;
	}
	.card,
	.card__section {
		@apply bg-dark;
		@apply rounded-xl;
	}
	.card__section {
		@apply flex flex-col;
		@apply gap-6;
		@apply p-6 m-auto;
		@apply max-w-[750px];
	}
	.card__title {
		@apply text-3xl;
		@apply text-turquoise font-bold;
	}
	.card__subtitle {
		@apply text-2xl;
		@apply text-violet font-bold;
	}
</style>
