---
import Background from "../components/Background.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Ovni from "../icons/Ovni.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Jairo Rojas programador y desarrollador web full stack"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<span class="nav__progress"><Ovni class="nav__progress__icon" /></span>
		<Background />
		<Hero />
		<main><slot /></main>
		<Footer />
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	img {
		max-width: 100%;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	button {
		border: none;
	}

	:root {
		--primary: #17171e;
		--primary-blur: #17171e77;
		--light: #dfdfdf;
		--play-a: #7fffd4;
		--play-b: #8a42ff;
	}

	@font-face {
		font-family: "Baskerville Normal";
		font-style: normal;
		font-weight: normal;
		src:
			local("Baskerville Normal"),
			url("/baskvl.woff") format("woff");
	}

	html {
		font-family: "Baskerville Normal", "Gill Sans", "Gill Sans MT", Calibri,
			"Trebuchet MS", sans-serif;
		background: var(--primary);
		color: var(--light);
		scroll-behavior: smooth;
		min-width: 350px;
		color-scheme: dark light;
	}

	p {
		max-width: 80ch;
		text-wrap: pretty;
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 2.5em;
		padding: 20px;
		margin-bottom: 1.5em;
		overflow-x: hidden;
	}

	.page__section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding: 1.5rem;
		margin: auto;
		max-width: 750px;
		background-color: var(--primary);
		border-radius: 0.75rem;
		scroll-margin-top: 100px;
	}

	.title {
		font-size: 2em;
		color: var(--play-a);
		font-weight: bold;
	}

	.subtitle {
		font-size: 1.5em;
		color: var(--play-b);
		font-weight: bold;
	}

	.nav__progress {
    position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
    font-size: 3em;
  }
	
	.nav__progress__icon {
		position: relative;
		left: 0;
    view-timeline-axis: y;
		
    animation-timeline: scroll();
    animation-name: fly;
	}

	@keyframes fly {
    from {
      left: 0;
    }
    to {
      left: calc(100% - 1em);
    }
  }
</style>
